In [2]:
import pandas as pd
import os

In [3]:
sheet2017 = pd.read_excel('../data/SeaGrant-TA_DIC-MassBayData/ToRies_Labprocessed2017sharedSeaGlass.xlsx',
                          sheet_name=None)

sheet2018 = pd.read_excel('../data/SeaGrant-TA_DIC-MassBayData/ToRies_Labprocessed2018_sharedSeaGlass.xlsx',
                          sheet_name=None)
sheet2019 = pd.read_excel('../data/SeaGrant-TA_DIC-MassBayData/ToRies_Labprocessed2019_sharedSeaGlass.xlsx',
                          sheet_name=None)

In [4]:
data2017 = sheet2017['batch_all2017p']
metadata2017 = sheet2017['readme']

data2018 = sheet2018['batch_all2018p']
metadata2018 = sheet2018['readme']

data2019 = sheet2019['batch_all2019p']
metadata2019 = sheet2019['readme2019']

In [5]:
intersection = set(data2017.columns).intersection(set(data2018.columns), set(data2019.columns))
union = set(data2017.columns).union(set(data2018.columns), set(data2019.columns))

In [6]:
for col in union:
    if col not in intersection:
        print(col)

In [11]:
concat = pd.concat([data2017,data2018,data2019], sort=False)
#concat.to_csv("ToRies_Labprocessed2017_to_2019.csv", index=False)

In [7]:
metadata2017.to_csv('ToRies_Labprocessed2017sharedSeaGlass_metadata.csv', index=False)
metadata2018.to_csv('ToRies_Labprocessed2018_sharedSeaGlass_metadata.csv', index=False)
metadata2019.to_csv('ToRies_Labprocessed2019_sharedSeaGlass_metadata.csv', index=False)

In [8]:
def get_metadata(row):
    metadata_csv = row['Data Source'] + "_metadata.csv"
    return pd.read_csv(metadata_csv)

In [12]:
get_metadata(concat.iloc[2])

,Unnamed: 0,Unnamed: 1
0,This file contains data collected by MRWA in M...,NaN
1,batch_all2017p is processed as per recommendat...,NaN
2,NaN,NaN
3,Columns,Description
4,A-D,Our description of samples when sent to Ries' lab
5,B-R,Labels and Data as collected by MRWA in the field
6,S-AJ,TA and DIC measured in the lab; output from th...
7,NaN,NaN
8,Outputs are calculated using the following con...,NaN
9,pH Scale:,NBS scale (mol/kg-H2O)
10,CO2 Constants:,"K1, K2 from Lueker et al., 2000"
11,KSO4 Source:,"Dickson, 1990"
12,KF Source:,"Dickson and Riley, 1979"
13,Total Boron Source:,"Lee et al., 2010"
14,NaN,NaN
15,NaN,NaN
16,Samples highlighted show the same values at fi...,NaN